####################
# GitIgnore
####################
private.xml
private.properties

/nbproject/
/build/
/dist/
/.gradle/
/.nb-gradle/profiles/private/
/JBasicX/.nb-gradle/profiles/private/
/.nb-gradle/private/